.menu
  align-items center
  background-color rgba(black, .02)
  border-bottom-color rgba(black, .05)
  border-bottom-width 1px
  height 6u
  padding-left 2u
  z-index 1

.sidebar-menu
  margin -2u

.logo, .icon
  color: $UI.colors.secondaryText

.body, .button
  flex 1

.button
  &.active
    border-bottom-color: $UI.colors.secondaryText
    border-bottom-width 1px

.caption
  align-items center
  width 5u