.root
  align-items center
  background-color rgba(black, .05)
  flex 1

  +web()
    padding 2u 3u

.container
  background-color: $UI.colors.white
  flex 1
  max-width 1280px
  width 100%

.header
  align-items center
  background-color rgba(black, .02)
  border-bottom-color rgba(black, .05)
  border-bottom-width 1px
  height 6u
  padding-left 2u
  z-index 1

.menu
  margin -2u

.logo
.icon
  color: $UI.colors.secondaryText

.body
  flex 1

.caption
  align-items center
  width 5u