.root
  padding .5u 0

.container
  background-color: $UI.colors.dark
  border-bottom-left-radius .5u
  border-bottom-right-radius .5u
  border-top-right-radius .5u
  max-width 80%
  padding 1u

  &.isOwnMessage
    background-color: $UI.colors.primary
    border-top-left-radius .5u
    border-top-right-radius 0

.message
  color: $UI.colors.white