.root
  align-items center
  border-color: $UI.colors.secondaryText
  border-width 1px
  justify-content space-between
  padding .5u 2u

.main
  flex 1
  margin-left 2u

.description
  font(s)

  &.right
    text-align right